# Django
Django
pytest-django
djangorestframework
djangorestframework-simplejwt

# Testing
pytest
pytest-cov
pytest-sugar
mixer

# Database
psycopg2

# Code Style
pycodestyle
ruff

# Misc
python-dotenv