{% extends "base.html" %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
        <h1>
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        </h1>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="row">
    <div class="col-md-4">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="form-control">
    </div>
</div>

{% if error %}
    <p style="color:red">Your email and password didn't match. Please try again.</p>
{% endif %}

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}